.Login {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.LoginBoxOut {
  width: 70vh;
  height: 70vh;
  background-color: white;
  border-radius: 10vh;
}

.LoginBoxIn {
  background-color: aliceblue;
  border-radius: 10vh;
  margin: 10vh 0vh;
  width: 70vh;
  height: 70vh;
  align-items: center;
  justify-content: center;
  display: flex;
  color: black;
}

.Form{
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

.FormLabels {
  font-size: medium;
  font-weight: normal;
}

.FormBoxes {
  margin: 1vh 0vh;
  height: 4vh;
  width: 35vh;
  padding-left: 1vh;
  border-radius: 1vh;
}

.Button {
  margin-top: 4vh;
  height: 5vh;
  background-color: royalblue;
  color: white;
  border-radius: 1vh;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-color: royalblue;
}


.saveButton {
  margin-top: 4vh;
  margin-left: 2vh;
  height: 5vh;
  background-color:#336699;
  color: white;
  border-radius: 1vh;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
